html {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}


*,
*:before,
*:after {
	font-family: inherit;
	box-sizing: inherit;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    background-color: transparent;
}

button:disabled {
    cursor: auto;
}

button:focus {
    outline: 5px auto #5E9ED6;
    outline: 5px auto -webkit-focus-ring-color;
}

a {
    color: #BC1FC3;
}

img {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
}

header > div { /* logo placeholder */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    background-color: #707070;
    color: #FFF;
}


nav {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 4rem;
    left: -999rem;
    padding: 0.5rem;
    background-color: #C8D2B5;
    width: 100%;
    opacity: 0.9;
    transition: all 0.3s ease;
    border-radius: 0 0.5rem 0.5rem 0;
}

nav.show-main-nav {
    left: 0;
}

nav ul {
    margin-right: auto;
}

nav li {
    margin-bottom: 1rem;
}

nav li a {
    display: block;
    font-weight: 700;
    
}

dialog {
    border: none;
}

dialog::backdrop {
    background-color: #707070;
    opacity: 0.75;
}

footer {
    text-align: center;
    margin: 1rem 0 3rem 0;
}



address {
    font-style: normal;
}

footer ul.site-map {
    margin-bottom: 1.5rem;
}

footer ul.site-map a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    font-weight: bold;
    font-size: 1.125rem;
}

footer ul.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
}

footer ul.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    color: #707070;
    border: 2px solid #707070;
    text-decoration: none;
    transition: all 0.5s ease-out;

}

footer ul.social-links a:hover {
    color: #C32DB1;
    border-color: #C32DB1;
}





