html {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}


*,
*:before,
*:after {
	font-family: inherit;
	box-sizing: inherit;
}

button {
    cursor: pointer;
    font-size: inherit;

}

button:disabled {
    cursor: auto;
}

a {
    color: #BC1FC3;
}

nav {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 4rem;
    left: -999rem;
    padding: 0.5rem;
    background-color: #C8D2B5;
    width: 100%;
    opacity: 0.9;
    transition: all 0.3s ease;
    border-radius: 0 0.5rem 0.5rem 0;
}

nav.show-main-nav {
    left: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
}

nav li {
    margin-bottom: 1rem;
}

nav li a {
    display: block;
    font-weight: 700;
    
}

dialog::backdrop {
    background-color: #707070;
    opacity: 0.75;
}


