body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-left: 0.5rem;
}

hr {
    border: 0.5px solid gray;
}

input:invalid, select:invalid {
    border-color: #F00;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.5rem 0;
}

footer {
    margin-top: 3rem;
}

header > button:last-of-type {
    border: 1px solid #000;
    padding: 0.75rem;
    border-radius: 0.75rem;

}

header > button:last-of-type:disabled {
    border: 1px solid lightgray;
}

main > div:first-of-type {
    background: center / cover no-repeat url("../assets/nadine-primeau-l5Mjl9qH8VU-unsplash.jpg");
    height: 20vh;
    color: #FFF;
    margin-bottom: 1rem;
}


main select, main input {
    border: 1px solid #000;
    border-radius: 0.25rem;
    padding: 0.25rem;
    background-color: #FFF;
    font-size: 85%;
}

main label {
    display: block;
    margin-bottom: 1rem;
}

article h3 {
    margin-bottom: 0;
}

article h3 + p {
    margin-top: 0;
    font-style: italic;
}


dialog { /* POSSIBLE refactot */
    padding: 0;
    border: 0;
}


dialog > button:first-of-type { /* refactor */
    position: absolute;
    top:  0.5rem;
    right: 0.5rem;
    color: #FFF;
    
}

dialog section:first-of-type { /* refactor */
    background: center / cover no-repeat url("../assets/nadine-primeau-l5Mjl9qH8VU-unsplash.jpg");
    height: 10rem; 
    margin-bottom: 2rem;
}


dialog label:first-of-type { /* refactor */
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

/*
dialog form hr { 
	margin-bottom: 1rem;
}
*/

dialog form p { /* refactor */
    margin-top: 0;
    margin-bottom: 1rem;
}

dialog form hr { /* refactor */
    margin-bottom: 2rem;
}

dialog textarea { /* refactor */
    resize: none;
    width: calc(100% - 1rem); /* As of 2022-09-12, Chrome and Safari seems ignore the "cols" and "row" attribute values, so I have to set textarea siize manually with CSS. Also, setting the width to 100% by itself causes the textarea to overflow the form in all browsers since it seems like box-sizing is ignored and width doesn't take it consideration the margins */
    height: 8rem;
}


dialog input[type="number"] { /* refactor */
	/*for firefox*/
	-moz-appearance: textfield;
}


dialog input[type="number"]:disabled { /* refactor */
	width: 3rem;
	-webkit-text-fill-color: #fff; /*safari only. see here https://stackoverflow.com/questions/57085123/targeting-disabled-field-in-safari-with-css */
	text-align: center;
    padding: 0.25rem 0.5rem;
}

/*hide spinner next to number input*/
dialog input::-webkit-outer-spin-button,
dialog input::-webkit-inner-spin-button { /* refactor */
	/* for chrome and safari*/
	-webkit-appearance: none;
}

dialog #quantity-section {
	display: flex;
	justify-content: space-between;
    align-items: center;

}


dialog #qty-picker-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


dialog #qty-picker-wrapper button:first-of-type {
    cursor: inherit;
    
}


dialog #add-to-cart-button {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
    font-weight: 700;
    padding: 0.5rem;
}

dialog label,
dialog textarea { /* POSSIBLE refactor */
	display: block;
}


dialog textarea, dialog #quantity-section  { /* refactor */
    margin-bottom: 1rem;   
}

#quantity-section input, #quantity-section button {
    font-size: 85%;
}



main > section:first-of-type label, dialog label:first-of-type {
    font-weight: 700;
}

header button, dialog > button:first-of-type, dialog #qty-picker-wrapper button { /* refactor */
    background-color: transparent;
    border: 0;
    
}

dialog input[type="number"]:disabled, dialog #add-to-cart-button { /* refactor */
    border-radius: 0.25rem;
	border: 0;
	background-color: teal;
    color: #FFF;
}


main section, footer,  dialog form > *:not(hr) { /* POSSIBLE refactor */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.invalid-min-max-description {
    color: #F00;
    font-style: italic;
}

#menu-items {
    margin-top: 1rem;
}

#menu-items ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0 1rem;
    padding: 0;
    list-style: none;
}

#menu-items ul li a {
    box-shadow: 1px 1px 2px 1px rgba(112, 112, 112, 0.2);
    border-radius: 1rem;
    overflow: hidden;

}

#menu-items ul li a:not(.disabled-menu-item-link):hover {
    box-shadow: 2px 2px 6px 1px rgba(112, 112, 112, 0.2);   
}

#menu-items ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
}


.image-wrapper {
    width: 100px;
    height: 100px;
    flex-shrink: 0; /* used to prevent the div from being shrunk to accomodate the text-wrapper flex item */

}

.text-wrapper {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.text-wrapper h4 {
     -webkit-line-clamp: 2;
}

.text-wrapper p {
    font-size: 0.9rem;
    -webkit-line-clamp: 1;
}

.text-wrapper p:last-of-type {
    font-size: 0.85rem;
    margin-top: 0.25rem;
}


.text-wrapper h4, .text-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    /* See here for more on line-clamp: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp. I decided timplement this versus text-overflow so I don't have explicitly set a width on the paragragh. More responsive that way */
    display: -webkit-box;
    -webkit-box-orient: vertical;   
}

.disabled-menu-item-link {
    opacity: 0.5;
    pointer-events: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


section:last-of-type dialog {
    background: transparent linear-gradient(73deg, #000 0%, #585C41 100%) 0% 0% no-repeat padding-box;
    color: #FFF;
    max-width: 430px;
    padding: 1rem;
    border-radius: 1rem;
    
}

section:last-of-type dialog::backdrop {
    background-color: transparent;
}

@media (min-width: 428px) {
    main label {
        display: inline-block;     
    }
}

@media (min-width: 800px) {
    #menu-items ul {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
}









